/* VARIABLES */

$font-stack: 'Futura PT', 'Open Sans', sans-serif;
$font-size: .9em;
$letter-spacing: .8px;
$word-spacing: .05em;
$line-height: 18px;
$color: #A6A4A9;
$color-active: #A6A4A9;
$color-hover: #D5D4D7;
$text-margin: 10px;
$text-align: left;
$lg-text-margin: 40px;

$img-margin: 20px;
$img-opacity: .8;
$img-saturation: saturate(60%);

/* MIXINS */

@mixin nav-style {
  font-family: $font-stack;
  font-size: .95em;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: $color !important;
}

@mixin nav-brand-style {
  font-size: 1.3em;
}

@mixin title {
  text-transform: uppercase;
  font-size: .9em;
}

@mixin img-style {
  padding-bottom: $img-margin;
  transition: .5s;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
}

@mixin img-link-style {
  filter: $img-saturation;
  opacity: $img-opacity;
  cursor: pointer;
}

@mixin link-style {
  color: $color-active;
  transition: .5s;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
}

@mixin link-style-hover {
  text-decoration: none;
  color: $color-hover;
}

@mixin box-link {
  font-size: .7em !important;
  text-transform: uppercase;
  padding: 10px;
  border: 1px solid $color-hover;
}

/* STYLE */

body {
  background-color: #FFFDFC;
}

nav {
  text-align: center;
  padding: 80px 0 120px 0 !important;
  a {
    @include nav-style;
  }
  .navbar-brand {
    @include nav-style;
    @include nav-brand-style;
  }
  .nav-link {
    @media screen and (min-width: 992px) {
      padding: 0px !important;
      margin-left: 2em !important;
    }
  }
  .dropdown-item {
    font-size: .75em;
  }
  :hover {
    color: $color-hover !important;
  }
}

.container {
  font-family: $font-stack;
  font-size: $font-size;
  letter-spacing: $letter-spacing;
  word-spacing: $word-spacing;
  color: $color;
  img {
    @include img-style;
    .img-invisib {
      position: absolute;
    }
  }
  h1, h2, h3 {
    font-size: $font-size;
    margin-bottom: $text-margin;
    line-height: $line-height;
  }
  h1 {
    @include title;
  }

  h2 {
    text-align: $text-align;
  }
  h3 {
    margin: $lg-text-margin 0;
  }
  a {
    @include link-style;
    img:hover {
      @include img-link-style;
    }
  }
  a:hover {
    @include link-style-hover;
  }
}

.text-section:last-child {
  margin-bottom: $lg-text-margin;
}

.box-link {
  text-align: center;
  a {
    @include box-link;
  }
}

.modal {
  font-family: $font-stack;
  h1, h2, h3 {
    font-size: $font-size;
  }
}
