.navbar {
  background-color: transparent;
  padding: 50px 0 100px 0 !important;
}

.navbar-brand {
  font-weight: 300;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: rgba(154, 141, 174, .7)!important;
}

.navbar-brand:hover {
  color: rgba(154, 141, 174, 1)!important;
}

.nav-item a {
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif !important;
  font-size: .9em;
  margin-left: 25px !important;
  text-align: center;
  letter-spacing: 1px;
  color: rgba(154, 141, 174, .7)!important;
}

.nav-item a:hover {
  color: rgba(154, 141, 174, 1)!important;
}

h1 {
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif !important;
  font-size: .9em !important;
  letter-spacing: 1px;
  color: rgba(154, 141, 174, .7) !important;
}

h2 {
  text-align: justify;
  font-family: 'Open Sans', sans-serif !important;
  font-size: .8em !important;
  letter-spacing: 1px;
  color: rgba(154, 141, 174, .7) !important;
}

.horizontal * {
  margin-bottom: 25px;
}

.horizontal *:last-child {
  margin-bottom: 50px;
}

.img-horizontal {
  margin-bottom: 50px;
}

h3.box-link {
  font-family: 'Open Sans', sans-serif !important;
  font-size: .7em !important;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
}

h3.box-link a {
  text-decoration: underline;
  color: rgba(154, 141, 174, .7);
}

h3.box-link:hover {
  color: rgba(154, 141, 174, 1);
}

h3.box-link:hover a {
  text-decoration: none;
}


/* journey */

a .img-horizontal:hover {
  opacity: .7;
  transition: .5s;
}
.horizontal-gallery {
  margin-bottom: 50px;
}

.horizontal-gallery a:hover {
  margin-bottom: 50px;
}
